Repository searxng/searxng, pull requests merged in 2025-01, with the labels that each got.

#4212 [fix] engine brave: remove date from the content string
  searx/engines/brave.py
Labels: brave-engine

#4227 [feat] add Baidu search autocompleter
  searx/autocomplete.py
Labels: area: autocomplete

#4171 [feat] engines: added NixOS Wiki
  searx/settings.yml
Labels: area: engine, NixOS
